:root {
  --section-width: 90%;
  --section-height: 68vh;

  --xl-heading: 4.5rem;
  --ml-heading: 4rem;
  --l-heading: 2.4rem;
  --main-heading: 2rem;
  --m-heading: 1.75rem;
  --ms-heading: 1.25rem;
  --s-heading: 1.125rem;
  --text: 1rem;

  --bp-tablet: 600px;
  --bp-laptop: 1024px;
  --bp-desktop: 1640px;

  --section-margin: 80px;
  --heading-margin: 50px;
/* 
  --background-color-light: rgba(255, 255, 255, 0.03); */
  --background-color-light: rgba(182,
    180,
    189,
    0.2);
  --background-color-dark: #151312;
  --heading-color: rgba(182, 180, 189, 0.2);
  --primary-color: #A03232;
  --primary-color-dark: #8b2a2a;
  --primary-color-light: #ac4945;
  --secondary-color: #f9ad3e;
  --secondary-light-color: #fbc76d;
  --secondary-dark-color: #d68a2d;
  --accent-color: #e94c4f;
  --accent-light-color: #f19092;
  --accent-dark-color: #e31f22;

  --text-color: #002140;
  --text-light-color: #72767E;
  --text-white-color: white;
  --text-gray-color: #9e9e9e;

  --border-color: #c6c6c6;

  --gray-color: #9f9f9fdd;

  --background-color-light-mode: #e3edf7;
  /* --light-gray-color: rgba(30, 58, 138, 0.3); */
  --light-gray-color: rgb(30, 58, 138);
  --light-blue-color: rgb(37 99 235);
  --background-color-light: #e3edf7;
  --blue-color-dark: #193177;
  --blue-dark-color: #1168be;
  --green-dark-color: #85ce33;
  --green-color: #93c65a;
  --green-light: #c0e08e;
  --orange-color: #f38f3c;
  --yellow-color: #f8dfab;
  --shadow: #bdbdbd;
  --shadow-light: #e2e2e2;
  --gray-color: #bdbbbb;

  --s-radius: 6px;
  --m-radius: 8px;
  --l-radius: 24px;

  --nav-height: 70px;
}


@media (prefers-color-scheme: dark) {
  :root {
    /* --background-color-light: rgba(255, 255, 255, 0.03); */
    --background-color-dark: #151312;
    --background-color-light: rgba(182,
          180,
          189,
          0.2);
    --text-color: #002140;
    --text-light-color: #72767E;
    --text-white-color: white;
    --primary-color: #A03232;
    --primary-color-dark: #8b2a2a;
    --primary-color-light: #ac4945;
    --shadow-color-light: rgba(255, 255, 255, 0.1);
    --shadow-color-dark: rgba(0, 0, 0, 0.8);
  }
}


@media (prefers-color-scheme: light) {
  :root {
    /* --background-color-light: rgb(255, 248, 248);
    --background-color-dark: #ffffff; */
    --background-color-light-mode: #e3edf7;
    --text-color: #333;
    --text-light-color: #555;
    --text-white-color: #000;
   
    --light-gray-color: rgba(30, 58, 138, 0.3);
    --light-blue-color: rgb(37 99 235);
    --blue-color-dark: #193177;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  /* font-size: 62.5%; */
  -webkit-font-smoothing: antialiased;
  /* overflow-x: hidden; */
}

body {
  font-family: "Poppins", sans-serif;
  /* background: var(--background-color-dark); */
  color: var(--text-color);
  /* overflow-y: auto;
  overflow-x: hidden; */
    scroll-behavior: smooth;
    overflow: auto;
  height: 100vh;
  transition: background-color 0.3s ease, color 0.3s ease;
}


body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode h4,
body.dark-mode h5,
body.dark-mode h6,
body.dark-mode p {
  color: white;
}

body.dark-mode span {
  color: var(--heading-color);
}

body.dark-mode {
  background-color: var(--background-color-dark);
  color: white;
}

body.light-mode{
  background-color: var(--background-color-light-mode);
}


body.light-mode h1,
body.light-mode h2,
body.light-mode h3,
body.light-mode h4,
body.light-mode h5,
body.light-mode h6,
body.light-mode p{
  color: var(--background-color-dark);
}
body.light-mode span {
  color: black;
}


h1 {
  font-size: var(--l-heading);
  font-weight: 600;
}

h2 {
  font-size: var(--main-heading);
  font-weight: 600;
}

h3 {
  font-size: var(--m-heading);
  font-weight: 700;
}

h4 {
  font-size: var(--ms-heading);
  font-weight: 600;
}

h5 {
  font-size: var(--s-heading);
  font-weight: 500;
}

h6 {
  font-size: var(--xl-heading);
}

p,
li,
button,
input,
select,
article,
title,
header,
textarea,
a,
label,
span {
  font-size: var(--text);
  color: var(--text-light-color);
}

span,
a {
  color: var(--text-color);
  font-weight: 500;
}


button {
  cursor: pointer;
  outline: none;
  color: var(--text-white-color);
  transition: all 0.15s ease-in-out;
  background-color: var(--primary-color-light);
  border-radius: var(--s-radius);
  padding: 10px 16px;
  min-width: 120px;
  max-height: 45px;
  border: none;
  touch-action: pinch-zoom;
  white-space: nowrap;

  /* body.light-mode & {
    background-color: var(--light-blue-color);
  } */
}

/* button:hover {
  background-color: var(--primary-dark-color);
} */
.secondary-btn {
  background-color: var(--secondary-color);
}

.secondary-btn:hover {
  background-color: var(--secondary-dark-color);
}

.outline-btn {
  color: var(--text-gray-color);
  background-color: transparent;
  border: 1px solid var(--text-gray-color);
  padding: 8px 10px;

  &:hover {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
  }
}

.icon {
  padding: 0;
  min-width: 30px;
  background-color: transparent;
  color: gray;
  transition: all 0.1s ease-in-out;
}

.icon:hover {
  transform: scale(1.1);
  background-color: transparent;
}

input {
  outline: none;
  border-radius: var(--s-radius);
  background-color: var(--background-color-light);
  color: white;
  padding: 6px 14px;
  border-color: var(--background-color-light);
  height: 38px;
 
}

input:focus {
  border-color: var(--primary-color);
}

input::placeholder {
  color: var(--text-gray-color);
}

textarea {
  color: white;
  border-color: var(--background-color-light);
  background-color: var(--background-color-light);
  width: 50%;
  padding: 6px 14px;
  
 
}

textarea::placeholder {
  font-family: "Poppins", sans-serif;
}

input:focus,
select:focus,
textarea:focus {
  border-color: var(--primary-color);
  outline-color: var(--primary-color);
}

a {
  text-decoration: none;
  cursor: pointer;
}

select {
  border-radius: var(--s-radius);
  padding: 10px 14px;
}

li {
  list-style: none;
  /* cursor: pointer; */
}

/* svg {
  transition: all 0.1s ease-in-out !important;
}
svg:hover {
  transform: scale(1.2);
} */
#mobile-error {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@media (min-width: 600px) and (max-width: 870px){
  :root{
      --xl-heading: 3.5rem;
  }
}
@media (max-width: 600px) {
  :root {
    --section-margin: 50px;
    --heading-margin: 30px;
    --section-width: 90%;

    --xl-heading: 2.5rem;
    --l-heading: 2.2rem;
    --main-heading: 1.75rem;
    --m-heading: 1.375rem;
    --ms-heading: 1.125rem;
    --s-heading: 1rem;
    --text: 0.9rem;
  }

  button {
    padding: 8px 12px;
    min-width: 100px;
  }

  input,
  select,
  button {
    height: 42px;
  }
}

.green-btn {
  background: transparent;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}